<nav class="navbar navbar-light bg-light px-4 shadow">
  <span class="navbar-brand mb-0 h1 text-primary fw-bold">WPG-Wallet</span>

  <% if (user) { %>
    <div class="d-flex align-items-center gap-3">
      <!-- <span class="text-muted mb-0">Welcome, <strong>
          <%= user.name || "User" %>
        </strong></span> -->
      <a href="/logout" class="btn btn-outline-danger btn-sm">Sign Out</a>
    </div>
    <% } %>
</nav>